* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body {
  height: 100vh;
  background-color: #3368a0;
  color: #f2efe7;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quizContainer {
  height: 380px;
  width: 550px;
  background-color: #66a3bf;
  border-radius: 30px;
  margin: auto;
  flex-direction: column;
  gap: 70px;
  padding: 0px 30px;
  box-shadow: 0px 0px 10px 3px #c8dfdb;
}
.dataContainer {
  height: 150px;
  flex-direction: column;
  gap: 25px;
}
.dataContainer h2 {
  color: #fff4f4;
}
.ans {
  font-size: 22px;
}
.ques {
  align-self: flex-start;
  font-size: 32px;
}
.btnContainer {
  width: 100%;
  justify-content: space-between;
}
.btnContainer button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #c8dfdb;
  border: none;
  cursor: pointer;
}
